<!-- Button trigger modal -->
{{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> --}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="login-container">
          <h1>Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <form action="POST">
            <label for="">Usuário</label>
            <input type="text">

            <label for="">Senha</label>
            <input type="password">
            <button>Entrar</button>
          </form>
          <h3>Cadastre-se</h3>
          <p>Ainsa não possui conta? Cadastre-se aqui</p>
          <a href="">Cadastre-se</a>
      </div>
    </div>
  </div>
</div>