<nav>
  <img src="/assets/img/cat.png" alt="logo de gatinho">
  <div class="nav-bar">
    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a>
    <a href="#">Registrar</a>
  </div>
</nav>
